<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5QNNWXK3');</script>
    <!-- End Google Tag Manager -->
    <!-- GetYourGuide Analytics -->

<script async defer src="https://widget.getyourguide.com/dist/pa.umd.production.min.js" data-gyg-partner-id="JJ5FA3L"></script>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylee.css">
    <link href="https://db.onlinewebfonts.com/c/ad7151f90039f421ef9eda4996cb65db?family=Avenir+LT+Pro+95+Black" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8654983607890816"
     crossorigin="anonymous"></script>
     <link rel="icon" href="/logo.ico" type="image/x-icon">
    <title>TLEISUREs</title>
</head>
<body>
    <div class="screensize">
        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QNNWXK3"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <header>
            <h1>Tleisures</h1>
            <button id="languageBtn">Change Language</button>
            <div id="languageModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2>Select Language</h2>
                    <ul>
                        <li><a href="/en-us">English(United State)</a></li>
                        <li><a href="/ja">日本語</a></li>
                        <!-- Add more languages as needed -->
                    </ul>
                </div>
            </div>
            
        </header>
        <!-- <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav> -->
        <main>
            <section>

                <form class="search-box" action="/{{lanreq}}/searchresult" method="get">
                    <input type="text" name="destination" id="destination" placeholder="{{content.destinationPlaceHolder}}">
                    <input type="date" name="departureDate" id="departure-date" placeholder="When are you going?" >
                    <input type="hidden" name="n" value="1">
                    <button type="submit" id="search-button">{{content.search}}</button>
                </form>
            </section>

            <h2>
                <blockquote>
                    <p class="title">Travel & Leisure</p>
                    <img src="/shape1.png" alt="" class="shape1">
                    <p class="main-quote">{{content.mainQuote}} </p>
                    <img src="/underline.png" alt="" class="underline">
                    <p class="sub-quote">{{content.subQuote}}</p>
                </blockquote>
                <div class="widgets">
                <p class="widgettitle">{{content.widgetTitle}}</p>
                <div class="gygwidget" data-gyg-href="https://widget.getyourguide.com/default/city.frame" data-gyg-location-id="85" data-gyg-locale-code="{{content.widgetLanguage}}" data-gyg-widget="city" data-gyg-partner-id="JJ5FA3L"></div>
                <div class="gygwidget" data-gyg-href="https://widget.getyourguide.com/default/city.frame" data-gyg-location-id="169035" data-gyg-locale-code="{{content.widgetLanguage}}" data-gyg-widget="city" data-gyg-partner-id="JJ5FA3L"></div>
                <div class="gygwidget" data-gyg-href="https://widget.getyourguide.com/default/city.frame" data-gyg-location-id="169042" data-gyg-locale-code="{{content.widgetLanguage}}" data-gyg-widget="city" data-gyg-partner-id="JJ5FA3L"></div>
                </div>    
                <img src="/9372530.png" alt="" class="bottomimg">
            </h2>
        </main>

        <script src="/autocomplete.js"></script>
        <script src="/changelanguage.js"></script>
    </div>
</body>
</html>
