<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5QNNWXK3');</script>
    <!-- End Google Tag Manager -->
    <!-- GetYourGuide Analytics -->

<script async defer src="https://widget.getyourguide.com/dist/pa.umd.production.min.js" data-gyg-partner-id="JJ5FA3L"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylee2.css">
    <link href="https://db.onlinewebfonts.com/c/ad7151f90039f421ef9eda4996cb65db?family=Avenir+LT+Pro+95+Black" rel="stylesheet">
    <title>TLeisures</title>
</head>
<body>
    <div class="screensize">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QNNWXK3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <a href="/{{lanreq}}"><h1>Tleisures</h1></a>
        <button id="languageBtn">Change Language</button>
        <div id="languageModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Select Language</h2>
                <ul>
                    <li><a href="/en-US">English(United State)</a></li>
                    <li><a href="/ja">日本語</a></li>
                    <!-- Add more languages as needed -->
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section>
            <form class="search-box" action="/searchresult" method="get">
                <input type="text" name="destination" id="destination" placeholder="Where are you going" value="{{destination}}">
                <input type="date" name="departureDate" id="departure-date" value="{{departureDate}}">
                <input type="hidden" name="n" value="1">
                <button type="submit" id="search-button">{{content.search}}</button>
            </form>
        </section>

        <!-- 
            if users.length !==0 , results-container
            else , '새로운 프론트앤드 코드 '
         -->
        {% if users.length !==0 %}
        <div class="results-container">
            <!-- Search results will go here -->
            {% for u in users %}
            <a href="{{u.productUrl}}">
                <div class="result-box">
                    <img src="{{u.images[0].variants[12].url}}" alt="Result Image">
                    <div class="result-box-info">
                        <h3>{{u.title}}</h3>
                        {% if u.reviews.combinedAverageRating !==undefined %}
                            <div class="result-box-review">
                                <div class="result-box-review-star">{{content.reviewTitle}}</div>
                                <div class="result-box-review-score">{{u.reviews.combinedAverageRating | round(1)}}</div>
                            </div>
                            {% else %}

                        {% endif %}
                        <div class="result-box-tandp">
                                <div class="provider">viator</div>
                                <div class="result-box-price">{{u.pricing.summary.fromPrice}} {{u.pricing.currency}}</div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            
            <button onclick="topFunction()" id="myBtn" title="Go to top">
                <img src="/toparrow.svg" alt="" class="toparrow">
            </button>

            <div class="pagenation">
                {% if currentPage!==1 %}
                <a href="?n={{currentPage-1}}&destination={{destination}}&departureDate={{departureDate}}"> <img src="/leftarrow.svg" alt="" class="leftarrow"> </a>
                {% endif %}

                {% if currentPage < totalPage %}
                <a href="?n={{currentPage+1}}&destination={{destination}}&departureDate={{departureDate}}"> <img src="/rightarrow.svg" alt="" class="rightarrow"> </a>
                {% endif %}             
             </div>
        </div>
        {% else %}
            <h3>we could not found the treasures matching {{destination}}</h3> 
            <h4>How about new search?</h4>
            <div class="noresult">
                <img src="/noresultimage.jpg" alt="" class="noresultimage">
            </div>
        {% endif %}
    </main>
    <script src="/topbtn.js"></script>
</div>
</body>
</html>


   