a{
    color: black;
    text-decoration: none;
}

body {
    font-family: "Avenir LT Pro 95 Black", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.screensize{
    width: 100%;
    max-width: 480px;
    background-image: url("/background-img.jpeg");
}

header {
    text-align: center;
    padding: 20px 20px 0 20px;
}

header > h1{
    font-family: 'Fasthand', cursive; 
    margin-bottom: 0;
}

header img {
    max-width: 100%;
    height: auto;
}

#languageBtn{
    position: absolute;
    right: 20px;
    top: 16px;
    width: 100px;
}

main {
    padding: 0 20px 20px 20px;
}

.search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 3px #c5c5c5;
}

.search-box > input {
    border: 1px solid #c5c5c5;
}

.search-box > button{
    background-color: #ff8533;
    color: #fff;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    width: 97%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    color: white;
    border: none;
    cursor: pointer;
    width: 89%;
}

button:hover {
    background-color: #0056b3;
}



.results-container {
    display: grid;
    gap: 20px;
}

.result-box {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.result-box>img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    
}

.result-box-info{
    box-sizing: border-box;
    padding: 0 5px;

}

.result-box-info>h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 15px;
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 600;
}


.result-box-review{
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
.result-box-review-score{
    padding-left: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    margin-right: 15px;
}

.result-box-review-star{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
}

.result-box-tandp{
    box-sizing: border-box;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding-right: 15px;
    padding-bottom: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.provider{
    color: #6e6f7b;
}

.result-box-price{
    font-style: bold;
    font-size: 25px;
    font-weight: 600;
}

.noresultimage{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.pagenation{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.leftarrow{
    width: 70px;
    height: 50px;
    stroke: #078f07;
}

.rightarrow{
    width: 70px;
    height: 50px;
    stroke: #078f07;
}


#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ff8533; /* customize the color */
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .toparrow{
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    padding-bottom: 7px;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}